<article class="news">

    <div id="news-content"></div>
    <div class="news-more">
        <a href="https://bit-shift.blogspot.com" target="_blank" class="blogs"><b>BLOGS</b><i class=" icon-circle-right news-more-icon"></i></a>
        <a href="https://twitter.com/bitshiftio" target="_blank" class="tweets"><b>TWEETS</b><i class=" icon-circle-right news-more-icon"></i></a>
    </div>

    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.3/moment.min.js"></script>
    <script type="text/javascript" src="static/twitterFetcher.js"></script>
    <script type="text/javascript" src="static/blog.js"></script>

</article>
