 
<footer>
  <div class="container" style="padding-top:2rem; padding-bottom:2rem;">
    <div class="row">
      <div class="col-md-12">
        <ul class="footer-links" style="list-style:none; padding:0; margin:0; display:flex; justify-content:center; align-items:center; gap:2rem;">
          <li><a href="https://www.youtube.com/channel/UC5Ka_2-Q35r2-U1m7VblPLg" target="_blank"><i class="icon-youtube"></i></a></li>
          <li><a href="https://github.com/bit-shift-io">GitHub</a></li>
          <li><a href="https://gitlab.com/bitshift-io">GitLab</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>

</body></html>
