 
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-4 nav-secondary">
        <ul>
          <li><a href="http://www.fabtab.rf.gd">fabtab</a></li>        
        </ul>
      </div>
      <div class="col-md-4">
        {% include '_social.html' %}
      </div>
      <div class="col-md-4 nav-secondary">
        <ul>
          <li><a href="https://github.com/bit-shift-io">GitHub</a></li>
          <li><a href="https://gitlab.com/bitshift-io">GitLab</a></li>          
        </ul>
      </div>
    </div>
  </div>
</footer>

</body></html>
