{% set active = "contact" %}
{% set title = "bitshift.io >> Contact" %}
{% include '_header.html' %}

<div class="jumbotron-filter"></div>
<div class="jumbotron jumbotron-default-bg parallax-bg">
  <div class="container">
    <div class="row">
      <div class="col-md-6 intro">

        <h1 class="main-title">Contact</h1>
        
        <p>For general inquires please send an email to<br><b>bitshiftdev@gmail.com</b></p>
        
        To keep up to date with product news and upcoming information, follow us on social media
        {% include '_social.html' %}
	
      </div>
    </div>
  </div>
</div>

<div class="container">

    <h1 class="intro-title">Who are we?</h1>
    <p>bitshift is an indie studio who work, live and play in the sunny south of Australia. We have worked at a number of game companies in Australia and have worked on a number of titles for Wii, PSP, Xbox, Xbox360, PS2, PS3. Working in such games as Hellboy: The Science of Evil, Starwars: The Force Unleashed, Star Wars: The Clone Wars, as well as numerous others that never saw the light of day. 
    We have since stepped out on our own and have attempted to forge our own independent game company.</p>
        
</div>

{% include '_footer.html' %}
