{% set active = "trains-and-things" %}
{% set title = "bitshift.io >> Trains &amp; Things" %}
{% include '_header.html' %}

<div class="jumbotron-filter">
</div>

<div class="jumbotron jumbotron-trains-and-things-bg parallax-bg">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h1 class="main-title">Trains &amp; Things</h1>
        <p>Build a logistics company from the ground up in this real time multiplayer focused economic strategy game.</p>
        
      </div>
      
      <div class="col-md-6 news-column">
        {% include '_blog-embed.html' %}
      </div>
      
    </div>
  </div>
</div>

{#
<div class="jumbotron jumbotron-kickstarter">
    <div class="container">
        <div class="col-md-6">
            <video controls="controls" preload="none" poster="https://ksr-ugc.imgix.net/assets/021/599/222/4cd57749eb7f7d5a069e84a8f86930ba_original.png?crop=faces&amp;w=1024&amp;h=576&amp;fit=crop&amp;v=1529121252&amp;auto=format&amp;q=92&amp;s=7ba51703f0a428460cd93aa005196329" width="510" height="300">
                <source src="https://ksr-video.imgix.net/projects/2871474/video-892007-hls_playlist.m3u8" type="application/x-mpegURL">
                <source src="https://ksr-video.imgix.net/projects/2871474/video-892007-h264_high.mp4" type="video/mp4; codecs=&quot;avc1.64001E, mp4a.40.2&quot;">
                <source src="https://ksr-video.imgix.net/projects/2871474/video-892007-h264_base.mp4" type="video/mp4; codecs=&quot;avc1.42E01E, mp4a.40.2&quot;">
                You'll need an HTML5 capable browser to see this content.
            </video>
        </div>
        
        <div class="col-md-6">
            <img src="/resources/kickstarter-logo.svg"/>
            Kickstarter now live! Help us get Trains &amp; Things published.
            <br>
            <a href="https://www.kickstarter.com/projects/1858616027/231854257?ref=520989&token=8d160898" target="_blank"><b>SEE MORE</b><i class=" icon-circle-right news-more-icon"></i></a>
        </div>
    </div>
</div>
#}

<br>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="store-widget">
                <iframe src="https://store.steampowered.com/widget/878030/" frameborder="0" width="100%" height="190"></iframe>
            </div>
        </div>
        
        <div class="col-md-6">
            <div class="store-widget">
                <iframe src="https://itch.io/embed/123751" width="552" height="167" frameborder="0"></iframe>
            </div>
        </div>
    </div>
</div>

<div class="container">
  <div class="row highlights">
    <div class="col-md-6">
        <h1 class="intro-title">Features</h1>
        <p>
            <b>Multiplayer via internet and LAN</b> is what sits at the heart of Trains &amp; Things. Designed from the ground around multiplayer.
            I don't know about you but trains are fun, but what is better is trains with your friends (or against them?)!
        </p>
        
        <p>
            <b>Real time economic strategy</b> means no waiting around for people to take their long winded turns. The <strike>battle</strike>, er business, waits for no man. As the saying goes, time is money, so take every second to get leverage over the competition.
        </p>

        <p>
            <b>Manage a logistics company</b> by your self or in partnership with your friends. Take out a loan from the bank to build your empire and try not to sink in debt before your rise to corporate domination.
        </p>
            
        <p>
            <b>Build railways</b> as you extend your reach and your profits. Use what ever means secures the resources that will bring in the cash.
        </p>

        <p>
            <b>Transport numerous goods to meet supply and demand</b>, because diversifying is safer than putting all your eggs in one basket where the competition is likely to make an impact.
        </p>

        <p>
            <b>Custom maps</b> allow for you to not only take your corporation to Hawaii, Australia or Europe but also to the rest of the world... and maybe even mars! It all comes down to the creativity of the Trains & Things community.
        </p>
        
        <p>
            <b>Mod support</b> helps extend a game's life time. Games without mod support are played once and fall into the vortex of unforgettable games. Yet those games with great mod support last longer and allows for those budding developers in the community to sharpen their craft.
        </p>
    </div>

    <div class="col-md-6">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/jlGpGOFTxoI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

        <a href="https://steamcdn-a.akamaihd.net/steam/apps/878030/ss_cb227b59d6537e392446ee338435aa2c5bf42604.1920x1080.jpg?t=1578537942" target="_blank"><img src="https://steamcdn-a.akamaihd.net/steam/apps/878030/ss_cb227b59d6537e392446ee338435aa2c5bf42604.1920x1080.jpg?t=1578537942"/></a>
        <a href="https://steamcdn-a.akamaihd.net/steam/apps/878030/ss_b4f877b0ceb8e89add4044f82ff138920ab2ee8a.1920x1080.jpg?t=1578537942" target="_blank"><img src="https://steamcdn-a.akamaihd.net/steam/apps/878030/ss_b4f877b0ceb8e89add4044f82ff138920ab2ee8a.1920x1080.jpg?t=1578537942"/></a>
        <a href="https://steamcdn-a.akamaihd.net/steam/apps/878030/ss_1c74ea668c8a17195e9f7e90b935786a1781dcb4.1920x1080.jpg?t=1578537942" target="_blank"><img src="https://steamcdn-a.akamaihd.net/steam/apps/878030/ss_1c74ea668c8a17195e9f7e90b935786a1781dcb4.1920x1080.jpg?t=1578537942"/></a>
    </div>
  </div>
</div>
  
<div class="container">
    <div class="row highlights">
    
        <h1 class="intro-title">Some of the finer details</h1>
        
        <div class="col-md-4">
            <video controls="controls" preload="none" poster="/static/trains-and-things/track-building-thumb.jpg" height="400">
                <source src="/static/trains-and-things/track-building.mp4" type="video/mp4" />
                <source src="/static/trains-and-things/track-building.webm" type="video/webm" />
                Your browser does not support the video tag.
            </video>
            <a href="https://youtu.be/XHOi3UEE-Jg" target="_blank">View on YouTube</a>
        </div>
        
        <div class="col-md-8">
            <p>
            <b>Simple and easy track building</b> makes laying down tracks a pleasure. If you've ever played other games that require you to lay down tracks and roads you will know how frustrating this can be. We have taken the time to implement a system that is quick, easy and intuitive and a system that does not offend your OCD.
            </p>
        </div>
        
        <div class="col-md-8">
            <p>
            <b>Cross platform multiplayer</b> between Windows and Linux works out of the box because your OS shouldn't be a barrier to playing. With the potential of Mac if there is enough interest.
            </p>
        </div>
        
    </div>
    
    <div class="row highlights">
    
        <div class="col-md-8">
            <p>
            <b>Strategic zoom</b> is a feature of some of the best RTS games which has been thrown out in this modern era of console gaming. You will not have to grind your face along the ground. We let you take in the whole world and see it through the eyes of astronauts! This means your UI isn't cluttered with unnecessary mini maps.
            </p>
        </div>
        
        <div class="col-md-4">
            <video controls="controls" preload="none" poster="/static/trains-and-things/strategic-zoom-thumb.jpg">
                <source src="/static/trains-and-things/strategic-zoom.mp4" type="video/mp4" />
                <source src="/static/trains-and-things/strategic-zoom.webm" type="video/webm" />
                Your browser does not support the video tag.
            </video>
            <a href="https://youtu.be/Q-Lw10XrUgk" target="_blank">View on YouTube</a>
        </div>
        
    </div>
    
    
    <div class="row highlights">
    
        <div class="col-md-3" style="padding-top:55px">
            <a href="https://godotengine.org"  target="_blank"><img src="/static/godot-logo.svg" /></a>
        </div>
        
        <div class="col-md-9">
            <p>
                <b>Built on Godot and open source tools</b>. We tried Unity on our last project, Dog Fight, but it was severely limited so we moved to UE4 which was which significantly better but not without its own problems. This time around we are working with the Godot engine which has improved the turn around time to go from idea, to development, to reality. 
            </p>
        </div>
        
    </div>
</div>

<div class="container">
    <div class="row highlights">
        <div class="col-md-12">
        
            <h1 class="intro-title">Connect with the community</h1>
            <p>
                <a href="https://twitter.com/bitshiftio" target="_blank">@bitshift</a> we have been working hard on developing <b>Trains &amp; Things</b>. 
                We are wanting to open up our development to you, the public, so that you can stay in the loop and contribute. We want to form a community around our game, we want you to take what we make and modify it, add to it and have input in to what we are making here at bitshift.
            </p>
            
            <p>
                Why do we want to do this? Well, we want you to have endless hours of fun. Nothing can extend the fun of a game like mods and maps that come from the community.
            </p>
            
            <p>
                So, follow us on social media where we are currently posting blogs and development snippets:
                {% include '_social.html' %}
                Or join us on our matrix channel <a href="https://riot.im/app/#/room/#bitshift:matrix.org" target="_blank">#bitshift:matrix.org</a>.
            </p>

            <p>
                If you want to report a bug or see the state of development head over to our <a href="https://gitlab.com/bitshift-io/trains-and-things/issues" target="_blank">GitLab</a> page.
            </p>
        
        </div>
    </div>
</div>




{#
<div class="container">
  <div class="container">
    <h2>Community</h2>
    
    <div class="row get-involved">
        <div class="col-sm-4">
        <h3>Kickstarter</h3>
        <p>
            Be a part of the community who brings this game to fruition.
        </p>
        <a class="button button-success" href="https://kickstarter.com"><i class="icon-history"></i> Kickstarter</a>
        </div>
        <div class="col-sm-4">
        <h3>Documentation</h3>
        <p>
            Learn how to make your own mods, maps or contribute.
        </p>
        <a class="button button-success" href="https://trains-and-things-docs.readthedocs.io"><i class="icon-books"></i> Wiki</a>
        </div>
        <div class="col-sm-4">
        <h3>Sourcecode</h3>
        <p>
            Contribute to the game - for programmers!
        </p>
        <a class="button button-success" href="https://github.com/bit-shift-io/trains-and-things"><i class="icon-github"></i> GitHub</a>
        </div>
    </div>

    
    <div class="row get-involved">
    </div>
    
    </div>
</div>
#}

{% include '_footer.html' %}
